/replicate_fs.h
/replicate_gram.h
/verify_gram.h

/attr_idx
/cp_mem
/fastcat
/fastcp
/md_verify
/mkmanifest
/open
/open_pipes
/replicate
/simpledb
/sparse_scan
/tmpfile
/verify
/xfsutil

/libdirectio.so*
