/aclocal.m4
/autom4te.cache
/conf??????
/confdefs.h
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conftest.err
/libtool
/scan_build

Makefile
Makefile.in

.deps
.dirstamp
*.stamp
stamp-h1

.libs

/replicate_gram.h
/verify_gram.h

*.a
*.la
*.lo

*.gcda
*.gcno
/file_utils-0.1-coverage
/file_utils-0.1-coverage.info

/attr_idx
/cp_mem
/fastcat
/fastcp
/md_verify
/mkmanifest
/open
/open_pipes
/replicate
/sparse_scan
/tmpfile
/verify
/xfsutil

/libdirectio.so*
