/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool

Makefile
Makefile.in

.deps
.dirstamp
*.stamp

.libs

/replicate_gram.h
/verify_gram.h

/attr_idx
/cp_mem
/fastcat
/fastcp
/mkmanifest
/open
/open_pipes
/replicate
/tmpfile
/verify
/xfsutil

/libdirectio.so*
