{
    "objects":{
        "movies_subtree":{
            "type":"branch_subtree",
            "path":"media/movies"
        },
        "movie_file":{
            "type":"file_set_member",
            "membership_test":{
                "type":"contained_in_subtree",
                "value":"movies_subtree"
            }
        },
        "music_subtree":{
            "type":"branch_subtree",
            "path":"media/music"
        },
        "music_file":{
            "type":"file_set_member",
            "membership_test":{
                "type":"contained_in_subtree",
                "value":"music_subtree"
            }
        },
        "vault1":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault1"
        }
        "vault2":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault2"
        }
        "vault3":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault3"
        }
        "vault4":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault4"
        }
        "vault5":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault5"
        }
        "vault6":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault6"
        }
        "vault7":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault7"
        }
        "vault8":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault8"
        }
        "vault9":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault9"
        }
        "vault10":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault10"
        }
        "vault11":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault11"
        }
        "vault12":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault12"
        }
        "vault13":{
            "type":"branch_fs",
            "path":"/mnt/.treasury/vault13"
        },
        "vault":{
            "type":"fs_set_member",
            "membership_test":{
                "type":"is_fs",
                "values_disjunction":[
                    vault1,
                    vault2,
                    vault3,
                    vault4,
                    vault5,
                    vault6,
                    vault7,
                    vault8,
                    vault9,
                    vault10,
                    vault11,
                    vault12,
                    vault13
                ]
            }
        }
    },
    "constraints":[
        {
            "applies_to":"movie_subtree",
            "type":"order_by_ascending",
            "value":"modification_time"
        },
        {
            "applies_to":"music_subtree",
            "type":"size_at_least",
            "value":"25G"
        },
        {
            "applies_to":"vault",
            "type":"maximize_space_usage"
        }
    ]
}
