{
    "copy_creds":{
        "uid":"1000",
        "gid":"-1"
    },
    "debug":false,
    "transfers":[
        {
            "src":"/mnt/data/data1",
            "dest":"/dev/loop1",
            "dstpath":"/mnt/external",
            "format_cmd":"mkfs.xfs -f -L external $dest"
        },
        {
            "src":"/mnt/data/data2",
            "dest":"/dev/loop2",
            "dstpath":"/mnt/external",
            "format_cmd":"mkfs.xfs -f -L external $dest"
        },
        {
            "src":"/mnt/data/data3",
            "dest":"/dev/loop3",
            "dstpath":"/mnt/external",
            "format_cmd":"mkfs.xfs -f -L external $dest"
        }
    ]
}
