*.sw[a-z]

*.o
*.class

*.jar
trunk/src/attr_idx
trunk/src/cp_mem
trunk/src/libdirectio.so*
trunk/src/mkmanifest
trunk/src/open
trunk/src/open_pipes
trunk/src/replicate
trunk/src/tmpfile
trunk/src/verify
trunk/src/xfsutil

replicate.h
replicate.conf
verify.h
