*.sw[a-z]

*.la
*.lo
*.o
*.class

trunk/src/aclocal.m4
trunk/src/autom4te.cache
trunk/src/config.h
trunk/src/config.h.in
trunk/src/config.log
trunk/src/config.status
trunk/src/configure
trunk/src/libtool

trunk/src/**/Makefile
trunk/src/**/Makefile.in

trunk/src/**/.deps
trunk/src/**/.dirstamp
trunk/src/**/*.stamp

trunk/src/**/.libs

trunk/src/replicate_gram.h
trunk/src/verify_gram.h

*.jar
trunk/src/attr_idx
trunk/src/cp_mem
trunk/src/fastcat
trunk/src/fastcp
trunk/src/libdirectio.so*
trunk/src/mkmanifest
trunk/src/open
trunk/src/open_pipes
trunk/src/replicate
trunk/src/tmpfile
trunk/src/verify
trunk/src/xfsutil

replicate.h
replicate.conf
verify.h
